<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
    <!-- Bootstrap -->
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/assets/css/shCore.css" rel="stylesheet">
	<link href="/assets/css/shThemeDefault.css" rel="stylesheet">
	<link href="/assets/css/pygment_trac.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script>
	$(document).ready(function(){
		$('pre').addClass('prettyprint');
	});
	</script>
</head>
<body>
	<div class="row-fluid">
		<div class="span4">
			
		</div>
		<div class="span8">
		　　{{ content }}
		</div>
	</div>
	<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?autoload=true&amp;skin=sunburst&amp;lang=css" defer="defer"></script>
</body>
</html>